<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900" rel="stylesheet">

    <title>Grad School HTML5 Template</title>
    
    <!-- Bootstrap core CSS -->
<!--    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">-->
    <link href="{{ url_for('static', filename='css/css/bootstrap.min') }}" rel="stylesheet">

    <!-- Additional CSS Files -->

    <link href="{{ url_for('static', filename='css/font-awesome.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/templatemo-grad-school.css') }}", rel="stylesheet">
    <link href="{{ url_for('static', filename='css/owl.css') }}", rel="stylesheet">
    <link href="{{ url_for('static', filename='css/lightbox.css') }}", rel="stylesheet">
      <link href = "{{ url_for('static', filename='css/buttonstyles.css') }}", rel="stylesheet">



<!--    <link rel="stylesheet" href="static/css/font-awesome.css">-->
<!--    <link rel="stylesheet" href="static/css/templatemo-grad-school.css">-->
<!--    <link rel="stylesheet" href="static/css/owl.css">-->
<!--    <link rel="stylesheet" href="static/css/lightbox.css">-->
<!--
    
TemplateMo 557 Grad School

https://templatemo.com/tm-557-grad-school

-->
  </head>

<body>

   
  <!--header-->
  <header class="main-header clearfix" role="header">
    <div class="logo">
      <a href="#"><em>Smart</em> Contract</a>
    </div>
  </header>

  <!-- ***** Main Banner Area Start ***** -->
  <section class="section main-banner" id="top" data-section="section1">
      <video autoplay muted loop id="bg-video">
          <source src="static/course-video.mp4" type="video/mp4" />
      </video>

      <div class="video-overlay header-text">
          <div class="caption">
<!--              <h6>Graduate School of Management</h6>-->
              <h2>Contract Lifecycle Management</h2>
              <div class="main-button">
                  <div class="scroll-to-section"><a class ="role-text" href="#section2">Select your role 🧍 ⤵ </a></div>
              </div>
          </div>
      </div>
<div>

<main>
	<button class="Background" ><a class="link-text" href="">Contractor</a></button>
	<button class="Background1" ><a class="link-text" href="">Negotiator</a></button>
    <button class="Background2"><a class="link-text" href="">Approver</a></button>
</main>

    </div>





  </section>
  <!-- ***** Main Banner Area End ***** -->















</body>
</html>